
        <table class="table">
          <thead>
            <tr>
              <th>At (date-time)</th>
              <th>Temperature min/max (C)</th>
              <th>Pressure</th>
              <th>Humidity</th>
              <th>Forecast</th>
              <th>Wind speed (m/s)</th>
            </tr>
          </thead>
          <tbody>
             <tr> 
              <td class="forecast-info forecast-0" width="20%">{{weather.dt_txt}}</td>
              <td class="forecast-info forecast-1" width="20%">{{weather.main.temp_min}}/{{weather.main.temp_max}}</td>
              <td class="forecast-info forecast-2" width="10%">{{weather.main.pressure}}</td>
              <td class="forecast-info forecast-3" width="10%">{{weather.main.humidity}}</td>
              <td class="forecast-info forecast-4" width="20%"><img src="https://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" class="forecast-icon" alt="forecast">{{weather.weather[0].description}}</td>
              <td class="forecast-info forecast-5" width="20%">{{weather.wind.speed}}</td>
            </tr>
          </tbody>
        </table>


